@{
    ViewData["Title"] = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Me -> Derek Villars</h1>

<p>i graduated high school with an intrest in math but no specific goal in mind</p>
<p>i took a programming bootcamp learning python and django at pdx codeguild and loved it</p>
<p>i proseded to take a nother course and joined epicodeus's c# and .net class</p>

@Html.ActionLink("Github Repositories", "index", "GetGithub")